.container{
   
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text{
    margin-top: 15px;
}

.inputBlock{
width: 40%;
    display: inline-flex;
    flex-direction: column;
   gap: 10px;
   justify-content: center;

}


